.card:hover {
  text-decoration: none;
  border: 1rem;
}

.card-date {
  display: block;
  color: var(--ifm-color-primary-darkest);
  text-align: right;
  position: relative;
  margin-top: 1rem;
}

.card-list {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .card-list {
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
