.card:hover {
  text-decoration: none;
  border: 1rem;
}

.card-list {
  grid-template-columns: repeat(3, 1fr);
}

.card-title {
  margin-bottom: 1rem;
}

.card-date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
}

@media (max-width: 1024px) {
  .card-list {
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .card-title {
    margin: 0;
  }

  .card-date {
    bottom: auto;
    right: auto;
    position: relative;
  }
}
