.heroBanner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensures proper alignment between items */
  width: 100%;
}

.profileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 2rem; /* Space between image and text */
  border: 3px solid var(--ifm-color-primary-darkest);
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--ifm-background-color);
  flex: 1;
}

.introText {
  font-size: 3rem;
  line-height: 1.6;
  text-align: center;
}

.nameLink {
  color: var(--ifm-background-color);
  text-decoration: none;
  font-weight: bold;
}

.nameLink:hover {
  color: var(--ifm-color-primary-darkest);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .heroBanner {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }

  .profileImage {
    align-self: center;
    margin: 0;
  }

  .textContent {
    align-self: center;
    text-align: center;
  }
}
