/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25446f;
  --ifm-color-primary-dark: #25436e;
  --ifm-color-primary-darker: #24416b;
  --ifm-color-primary-darkest: #234068;
  --ifm-color-primary-light: #2c5285;
  --ifm-color-primary-lighter: #2e558b;
  --ifm-color-primary-lightest: #305890;
  --ifm-background-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #b3d4ff;
  --ifm-color-primary-dark: #c9e0ff;
  --ifm-color-primary-darker: #72afff;
  --ifm-color-primary-darkest: #4697ff;
  --ifm-color-primary-light: #c9e0ff;
  --ifm-color-primary-lighter: #deedff;
  --ifm-color-primary-lightest: #f4f9ff;
  --ifm-background-color: #000000;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--ifm-color-primary-darkest);
}

.card-list {
  display: grid;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ifm-color-primary-lighter);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--ifm-background-color);
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

@media (min-width: 320px) {
  .card {
    padding: 1rem 1rem;
  }
}