.about-me {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.6;
}

.about-me .container {
  max-width: 800px;
  margin: 0 auto;
}

.about-me a {
  color: var(--ifm-color-primary);
  text-decoration: underline;
  font-weight: bold;
}

.about-me a:hover {
  text-decoration: none;
}
